{% extends "layout.html" %}

{% block title %}Home - Virtual Bookshelf{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Virtual Bookshelf!</h1>
    <p class="lead">This is a simple web application to manage your personal library of books.</p>
    <hr class="my-4">
    <p>Click the button below to view your bookshelf or add new books.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/bookshelf" role="button">View Bookshelf</a>
    </p>
</div>
{% endblock %}
